[MESSAGES CONTROL]

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time.
#enable=

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
#
# W0142 = *args and **kwargs support
# W0403 = Relative imports
# R0201 = Method could be a function
# W0212 = Accessing protected attribute of client class
# W0613 = Unused argument
# W0232 = Class has no __init__ method
# R0903 = Too few public methods
# C0301 = Line too long
# R0913 = Too many arguments
# C0103 = Invalid name
# R0914 = Too many local variables
# C0330 = Wrong hanging indentation
# C0103 = Invalid name
# C0111 = Missing docstring
#
disable=W0142,W0403,R0201,W0212,
        W0613,W0232,R0903,C0301,
        R0913,C0103,R0914,C0330,
        C0103,C0111,
        singleton-comparison,fixme
